<div class="container">
  <h2>Add a Movie</h2>
  <form (ngSubmit)="onSubmitOfMovie(movieForm)" #movieForm="ngForm">
    <div class="form-group">
      <label for="title">Movie Title</label>
      <input ngModel #title="ngModel" type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
        <label for="releaseDate">Release Date</label>
        <input ngModel #releaseDate="ngModel" type="date" class="form-control" name="releaseDate">
    </div>
    <div class="form-group">
        <label for="budget">Budget</label>
        <input ngModel #budget="ngModel" type="number" class="form-control" name="budget">
    </div>
    <div class="form-group">
        <label for="distributor">Distributor</label>
        <input ngModel #distributor="ngModel" type="text" class="form-control" name="distributor">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div class="container">
    <h2>Current Movies</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Release Date</th>
            <th scope="col">Budget</th>
            <th scope="col">Distributor</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movie of movies">
            <td>{{movie.title}}</td>
            <td>{{movie.releaseDate | date:'MM/dd/yyyy'}}</td>
            <td>{{movie.budget}}</td>
            <td>{{movie.distributor}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Add an Actor</h2>
    <form (ngSubmit)="onSubmitOfActor(actorForm)" #actorForm="ngForm">
        <div class="form-group">
        <label for="firstName">First Name</label>
        <input ngModel #firstName="ngModel" type="text" class="form-control" name="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input ngModel #lastName="ngModel" type="text" class="form-control" name="lastName">
        </div>
        <div class="form-group">
            <label for="activeSinceYear">Active Since</label>
            <input ngModel #activeSinceYear="ngModel" type="number" class="form-control" name="activeSinceYear">
        </div>
        <div class="form-group">
            <label for="birthDate">Birthday</label>
            <input ngModel #birthDate="ngModel" type="text" class="form-control" name="birthDate">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<div class="container">
        <h2>Current Actors</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Active Since</th>
                <th scope="col">Birthday</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let actor of actors">
                <td>{{actor.firstName}}</td>
                <td>{{actor.lastName}}</td>
                <td>{{actor.activeSinceYear}}</td>
                <td>{{actor.birthDate | date:'MM/dd/yyyy'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
      




